html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
.container-fluid {
  height: 100%;
  .main {
    height: 100%;
    .menu-left {
      margin: 0;
      padding: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        top: 0;
        left: 0;
    }
    .content-body {
      height: 100%;
      padding: 0;
      // background-image: url('./../assets/image/floor-tile.png');
      #instructions {
        position: fixed !important;
        left: 50%;
      }

      .example-box {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);
               #input1 {
             width: 100%;
            margin: 0 auto;
        }

      }
    
      .example-box1 {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        position: relative;
        margin-left: 10px;
        z-index: 1;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);
          #input2 {
            width: 100%;
        }

      }
    
      .example-box2 {
        width: 100px;
        height: 100px !important;
        margin-top: 10px;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        position: relative;
        margin-left: 10px;
        z-index: 1;
          border-right: 20px solid transparent;
          border-left: 20px solid transparent ;
          border-bottom: 100px solid rgba(244,67,54,0.7);
          #input3 {
            margin-top: 50px;
            width: 100%;
            position: absolute;
        }

        .draw-arrow {
          top: 42px !important;
          left: 10px;
          position: absolute;
        }

      }
    
      .example-box3 {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 30px;
        margin-left: 10px;
        position: relative;
        z-index: 1;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);
          #input4 {
            width: 100%;
        }
      }

      input {
        color: black;
        width: 100%;
      }
    }
  }

  .page-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 888;
    --higru:#1A2A3A;
    background: var(--higru);  
  }
}

/deep/.draw-arrow {
  right: 20px;
  bottom: 0;
  position: absolute;
}

}