<app-loading *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading" class="container-fluid">
  <div class="row main">
    <div class="col-2 menu-left d-flex flex-column align-items-center">
<app-menu-left style="width: 100%; height: 100%;" (draw)="drop($event)"></app-menu-left>
  </div>
    <div class="col-10 content-body">
    <div *ngFor="let item of menuList1" style="position:absolute" 
    class="{{item.class}}" id="{{item.id}}" cdkDragBoundary=".content-body" cdkDrag>
        <div class="md-form form-sm" id ="{{item.idInput}}">
            <input mdbInput type="text" id="{{item.idText}}" class="form-control form-control-sm" placeholder="input text">
          </div>
            <mdb-icon fas icon="plus" class="draw-arrow" (click)="dropImage(item)"></mdb-icon>
      </div>

    </div>
  </div>

  <footer class="page-footer font-small deep-blue-gradient">

    <div class="text-center py-3">© 2019 Copyright:
      <a> Dragdrop-Team</a>
    </div>
  
  </footer>
</div>

